<div class="main-content accounts">
  <!-- Search Bar -->
  <div class="input-group m-1">
    <input
      class="form-control"
      name="search"
      type="text"
      placeholder="Search"
      aria-label="Search"
      aria-describedby="button-addon2"
      [(ngModel)]="searchString"
      (input)="search()">
    <p class="bi-search m-2" ></p>
  </div>

  <!-- Accounts -->
  <app-account
    class="col-md-20"
    style="display: inline-block"
    *ngFor="let user of users | async " [user]="user">
  </app-account>
</div>
