<div class="content w-full">
    <div class="settings-page m-20 d-grid gap-20">
        <div class="p-20 bg-white rad-10">
            <h2 class="mt-0 mb-10">General Info</h2>

            <p class="mt-0 mb-20 c-grey fs-15">General Information About Your Account</p>

            <div class="sec-box mb-15 between-flex">
                <div class="mb-15">
                    <label class="fs-14 c-grey d-block mb-10" for="firstName">First Name</label>
                    <input
                        class="form-control b-none border-ccc p-10 rad-6 d-block w-full"
                        type="text"
                        #firstName
                        id="firstName"
                        placeholder="First Name"
                        formControlName="firstName"
                    />
                </div>

                <div style="width: 15px"></div>

                <div class="mb-15">
                    <label class="fs-14 c-grey d-block mb-10" for="lastName">Last Name</label>
                    <input
                        class="form-control b-none border-ccc p-10 rad-6 d-block w-full"
                        #lastName
                        id="lastName"
                        type="text"
                        placeholder="Last Name"
                        formControlName="lastName"
                    />
                </div>
            </div>
            <button type="submit" class="btn btn-primary" (click)="changeUserName()">Change</button>
            <div id="nameResponse"></div>
        </div>

        <div class="p-20 bg-white rad-10">
            <h2 class="mt-0 mb-10">Academic Info</h2>
            <div class="mb-15">
                <label class="fs-14 c-grey d-block mb-10" for="studentId">ID</label>
                <input
                    class="b-none border-ccc p-10 rad-6 d-block w-full"
                    type="number"
                    #studentId
                    id="studentId"
                    placeholder="Student ID"
                    formControlName="studentId"
                />
            </div>
            <button type="submit" class="btn btn-primary" (click)="changeUserId()">Change</button>
        </div>

        <div class="p-20 bg-white rad-10">
            <h2 class="mt-0 mb-10">Security Info</h2>
            <div class="mb-15">
                <label class="fs-14 c-grey d-block mb-10" for="currentPassword">Current Password</label>
                <input
                    class="b-none border-ccc p-10 rad-6 d-block w-full"
                    type="password"
                    #currentPassword
                    id="currentPassword"
                    placeholder="Password"
                    formControlName="currentPassword"
                />
            </div>

            <div class="mb-15">
                <label class="fs-14 c-grey d-block mb-10" for="newPassword">New Password</label>
                <input
                    class="b-none border-ccc p-10 rad-6 d-block w-full"
                    type="password"
                    #newPassword
                    id="newPassword"
                    placeholder="new password"
                    formControlName="newPassword"
                />
            </div>

            <div class="mb-15">
                <label class="fs-14 c-grey d-block mb-10" for="confirmNewPassword">Confirm Password</label>
                <input
                    class="b-none border-ccc p-10 rad-6 d-block w-full"
                    type="password"
                    #confirmNewPassword
                    id="confirmNewPassword"
                    placeholder="confirm new password"
                    formControlName="confirmNewPassword"
                />
            </div>

            <button type="submit" class="btn btn-primary" (click)="changeUserPassword()">Change</button>
        </div>
    </div>
</div>
