<div class="content w-full">
    <div class="settings-page m-20 d-grid gap-20">

      <div class="p-20 bg-white rad-10">

        <h2 class="mt-0 mb-10">General Info</h2>

        <p class="mt-0 mb-20 c-grey fs-15">General Information About Your Account</p>

        <div class="sec-box mb-15 between-flex">

          <div class="mb-15">
            <label class="fs-14 c-grey d-block mb-10" for="first">First Name</label>
            <input
              class="form-control b-none border-ccc p-10 rad-6 d-block w-full"
              type="text"
              id="first"
              placeholder="First Name"
              formControlName="firstName"
            />
          </div>

          <div style="width: 15px"></div>

          <div class="mb-15">
            <label class="fs-14 c-grey d-block mb-10" for="last">Last Name</label>
            <input
              class="form-control b-none border-ccc p-10 rad-6 d-block w-full"
              id="last"
              type="text"
              placeholder="Last Name"
              formControlName="lastName"
            />
          </div>

        </div>
            <button type="submit" class="btn btn-primary" (click)="changeUserName()">Change</button>

      </div>

      <div class="p-20 bg-white rad-10">
        <h2 class="mt-0 mb-10">Academic Info</h2>
        <div class="mb-15">
          <label class="fs-14 c-grey d-block mb-10" for="first">ID</label>
          <input
            class="b-none border-ccc p-10 rad-6 d-block w-full"
            type="number"
            id="student-id"
            placeholder="First Name"
            formControlName="studentId"
          />
        </div>
        <button type="submit" class="btn btn-primary" (click)="changeUserId()">Change</button>

      </div>

      <div class="p-20 bg-white rad-10">
        <h2 class="mt-0 mb-10">Security Info</h2>
          <div class="mb-15">
            <label class="fs-14 c-grey d-block mb-10" for="current-password">Current Password</label>
            <input
              class="b-none border-ccc p-10 rad-6 d-block w-full"
              type="password"
              id="current-password"
              placeholder="First Name"
              formControlName="currentPassword"
            />
          </div>


          <div class="mb-15">
            <label class="fs-14 c-grey d-block mb-10" for="new-password">New Password</label>
            <input
              class="b-none border-ccc p-10 rad-6 d-block w-full"
              type="password"
              id="new-password"
              placeholder="First Name"
              formControlName="newPassword"
            />
          </div>


          <div class="mb-15">
            <label class="fs-14 c-grey d-block mb-10" for="confirm-new-password">Confirm Password</label>
            <input
              class="b-none border-ccc p-10 rad-6 d-block w-full"
              type="password"
              id="confirm-new-password"
              placeholder="First Name"
              formControlName="confirmNewPassword"
            />
          </div>

        <button type="submit" class="btn btn-primary" (click)="changeUserPassword()">Change</button>

      </div>

    </div>
</div>
