:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}

.settings-page {
  margin: 20px;
  display: grid;
  gap: 20px;
}

.d-block {
  display: block;
}

.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}

/*.m-20 {*/
/*  margin: 20px;*/
/*}*/

.mt-0 {
  margin-top: 0;
}

.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}

.c-grey {
  color: var(--grey-color);
}
.fs-14 {
  font-size: 14px;
}

.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}

.b-none {
  border: none;
}
.border-ccc {
  border: 1px solid #ccc;
}


/* End Border */
/* Start Width + Height */
.w-full {
  width: 100%;
}

.between-flex {
  display: flex;
  align-items: center;

}
