<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;min-height: 100vh;">

  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <i class="bi bi-unity pe-none me-2"></i>
    <span class="fs-4">Student Unity</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link text-white" aria-current="page">
        <i class="bi bi-stack pe-none me-2"></i>
        All Courses
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-white">
        <i class="bi bi-book pe-none me-2"></i>
        My Courses
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-white">
        <i class="bi bi-list-task pe-none me-2"></i>
        Tasks
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-white">
        <i class="bi bi-megaphone pe-none me-2"></i>
        Announcements
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-white">
        <i class="bi bi-gear pe-none me-2"></i>
        Settings
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-white">
        <i class="bi bi-person-circle pe-none me-2"></i>
        Accounts
      </a>
    </li>
  </ul>
  <hr>
</div>
