<div class="p-3 h5 border-bottom">{{ materialCategoryName }}</div>

<div class="py-2 px-3 border-bottom">
    <div class="row">
        <div class="col-10 h6">Lecture 6</div>
        <i class="col-11 bi bi-x-lg icon text-danger"></i>
        <i class="col-12 bi bi-pencil icon text-primary"></i>
    </div>
    <a href="http://localhost:4200/home/course/material?courseId=2&materialCategoryId=102&materialCategoryName=lectures"
        >http://localhost:4200/home/course/material?courseId=2&materialCategoryId=102&materialCategoryName=lectures</a
    >
</div>
