<nav class="navbar">

  <div class="container-fluid">

    <div class="p-3 text-bg-dark " style="width: 280px;min-height: 100vh; display: inline-block;">

    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <i class="bi bi-unity pe-none me-2"></i>
      <span class="fs-4">Student Unity</span>
    </a>
    <hr>

    <div class="parent">
      <div><i class="bi bi-stack"></i>All Courses</div>
      <div><i class="bi bi-book"></i>My Courses</div>
      <div><i class="bi bi-list-task"></i>Tasks</div>
      <div><i class="bi bi-megaphone pe-none me-2"></i>Announcements</div>
      <div><i class="bi bi-gear pe-none me-2"></i>Settings</div>
      <div><i class="bi bi-person-circle pe-none me-2"></i>Accounts</div>
    </div>

    <hr>
  </div>
  </div>
</nav>
