<div class="card text-white bg-primary mb-3" style="max-width: 18rem">
    <div class="card-header justify-content-space-between">
        <p>{{ course.code }}</p>
        <button
            *ngIf="privilege"
            class="btn btn-danger"
            type="button"
            data-bs-toggle="modal"
            [attr.data-bs-target]="'#delete' + course.name | removeSpaces"
        >
            <!-- <i class="bi bi-three-dots-vertical" style="font-size: 1.3rem; color: rgb(255, 255, 255);" ></i> -->
            Delete
        </button>

        <!-- Modal -->
        <div
            class="modal fade"
            [attr.id]="'delete' + course.name | removeSpaces"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">Are you sure you want to delete {{ course.name }}?</div>
                    <div *ngIf="deleteLoading" class="spinner-border text-primary mt-3" role="status"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" (click)="deleteCourse()" class="btn btn-danger">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body" [ngClass]="course.activeCourse === null ? 'blacked' : ''">
        <h5 class="card-title mb-3">{{ course.name }}</h5>
        <button *ngIf="!subscribed" type="button" class="btn btn-light" (click)="subscribeCourse()">Subscribe</button>
        <div *ngIf="subscribeLoading" class="spinner-border text-primary mt-3" role="status"></div>
    </div>
</div>
