<div [ngClass]="course.activeCourse === null ? 'grayed bg-secondary' : 'bg-primary'" class="card text-white mb-3">
    <div class="card-header justify-content-space-between">
        <p (click)="openCoursePage(course.id)">{{ course.code }}</p>

        <i (click)="editCourse()" class="bi bi-three-dots-vertical"></i>
        <button
            *ngIf="privilege"
            class="btn btn-danger"
            type="button"
            data-bs-toggle="modal"
            [attr.data-bs-target]="'#delete' + course.name | removeSpaces"
        >
            Delete
        </button>
        <!-- Modal -->
        <div
            class="modal fade"
            [attr.id]="'delete' + course.name | removeSpaces"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">Are you sure you want to delete {{ course.name }}?</div>

                    <div class="modal-footer">
                        <div>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                        <div *ngIf="deleteLoading" class="d-flex justify-content-center" style="min-width: 80px">
                            <div class="spinner-border text-primary" role="status"></div>
                        </div>
                        <div>
                            <button
                                type="button"
                                *ngIf="!deleteLoading"
                                (click)="deleteCourse()"
                                class="btn btn-danger"
                            >
                                Confirm
                            </button>
                        </div>
                    </div>
                    <div [hidden]="!postDeleteError" class="alert alert-danger text-center" role="alert">
                        {{ errorMessage }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title mb-3">{{ course.name }}</h5>
        <button
            *ngIf="!subscribed && !subscribeLoading"
            type="button"
            [ngClass]="course.activeCourse === null ? 'btn-secondary' : 'btn-light'"
            class="btn"
            (click)="subscribeCourse()"
        >
            Subscribe
        </button>
        <div
            *ngIf="subscribeLoading"
            [ngClass]="course.activeCourse === null ? 'text-primary' : 'text-light'"
            class="spinner-border mt-3"
            role="status"
        ></div>
    </div>
    <div [hidden]="!postSubscribeError" class="alert alert-danger text-center" role="alert">
        {{ errorMessage }}
    </div>
</div>
