.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header p {
    margin: 0;
}

.modal-title,
.modal-body {
    color: #000;
}
.blacked {
    background: #000;
}
