<div class="text-center main-container">
    <div class="form-signin w-100 m-auto">
        <form #signInForm="ngForm" (ngSubmit)="onSignIn(signInForm)">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <p class="text-secondary">Keep track of your college journey</p>

            <div class="form-floating">
                <input
                    type="email"
                    ngModel
                    name="email"
                    class="form-control"
                    id="signInEmailInput"
                    placeholder="&#8203;"
                />
                <label for="signInEmailInput">Email address</label>
            </div>
            <div class="form-floating">
                <input
                    type="password"
                    ngModel
                    name="password"
                    class="form-control"
                    id="passwordInput"
                    placeholder="&#8203;"
                />
                <label for="passwordInput">Password</label>
            </div>

            <div class="text-start checkbox m-3">
                <label> <input type="checkbox" ngModel name="rememberMe" value="remember-me" /> Remember me </label>
            </div>

            <a
                href="forget-password"
                id="openForgotPasswordBtn"
                data-bs-toggle="modal"
                data-bs-target="#forgotPasswordModal"
                >Forgot your password?</a
            >

            <button class="w-100 btn btn-lg btn-primary mt-3 mb-4" type="submit">Sign in</button>
            <div *ngIf="loadings" class="spinner-border text-primary" role="status"></div>
            <p class="mb-1">Don't have an account yet?</p>
            <a [routerLink]="['/sign-up']">Register now</a>
        </form>
    </div>
</div>

<button
    id="openSignInErrorBtn"
    type="button"
    class="btn btn-primary d-none"
    data-bs-toggle="modal"
    data-bs-target="#signInErrorModal"
></button>
<div class="modal" id="signInErrorModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Can't sign in</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                {{ signInResponse }}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="forgotPasswordModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Forgot password</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <input
                    #forgotPasswordEmailInput
                    type="email"
                    class="form-control"
                    placeholder="Email address"
                    (click)="forgotPasswordResponse = ''"
                />
                <div style="margin-left: 5px; margin-top: 10px">{{ forgotPasswordResponse }}</div>
                <div *ngIf="forgetPasswordLoading" class="spinner-border text-primary" role="status"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button
                    type="submit"
                    class="btn btn-primary"
                    (click)="onForgotPassword(forgotPasswordEmailInput.value)"
                >
                    Send Password
                </button>
            </div>
        </div>
    </div>
</div>
