
<div class="parent">
    <!-- TO DO Tasks List -->
    <div class="container" style="padding: 20px;">
        <div class="task-header">
            <p class="lead">TO DO</p>
            <select (ngModelChange)="filterToDoTasks($event)" [(ngModel)]="selectedCourse"
                class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option value="All">All</option>
                <option *ngFor="let c of registeredCourses" [ngValue]="c">{{c.name}}</option>
            </select>
        </div>
        <app-task
            *ngFor="let task of toDoTasks| async"
            [task]="task"
            (removingToDoTaskEvent)="removeToDoTask($event)"
            (markAsDoneEvent)="triggerToDoStatus($event)">
        </app-task>
    </div>

    <!-- Done Tasks List -->
    <div class="container" style="padding: 20px;">
        <div class="task-header">
            <p class="lead">DONE</p>
            <select (ngModelChange)="filterDoneTasks($event)" [(ngModel)]="selectedCourse"
                class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option value="All">All</option>
                <option *ngFor="let c of registeredCourses" [ngValue]="c">{{c.name}}</option>
            </select>
        </div>
        <app-task
            *ngFor="let task of doneTasks | async"
            [task]="task"
            (removingDoneTaskEvent)="removeDoneTask($event)"
            (unMarkAsDoneEvent)="triggerDoneStatus($event)">
        </app-task>
    </div>
</div>
