<div class="parent">
    <!-- TO DO Tasks List -->
    <div class="container" style="padding: 20px;">
        <div class="task-header">
            <p class="lead">TO DO</p>
            <select (ngModelChange)="filterToDoTasks($event)" [(ngModel)]="selectedCourse" 
                class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option value="All">All</option>
                <option *ngFor="let c of courses" [ngValue]="c">{{c}}</option>
            </select>
        </div>
        <app-task 
            *ngFor="let task of toDoTasks" 
            [task]="task"
            (taskRemovedEvent)="removeToDoTask($event)"
            (taskMarkedEvent)="trigerToDoStatus($event)">
        </app-task>
    </div>
    
    <!-- Done Tasks List -->
    <div class="container" style="padding: 20px;">
        <div class="task-header">
            <p class="lead">DONE</p>
            <select (ngModelChange)="filterDoneTasks($event)" [(ngModel)]="selectedCourse"
                class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option value="All">All</option>
                <option *ngFor="let c of courses" [ngValue]="c">{{c}}</option>
            </select>
        </div>
        <app-task 
            *ngFor="let task of doneTasks" 
            [task]="task"
            (taskRemovedEvent)="removeDoneTask($event)"
            (taskMarkedEvent)="trigerDoneStatus($event)">
        </app-task>
    </div>
</div>
