<div class="card mb-3 shadow-sm">
    <div class="card-header bg-primary text-white">
        <h2 class="card-title">
            {{ announcemet.courseName }} - <small>{{ getDate() }}</small>
        </h2>
        <div class="btn-group float-right" role="group" aria-label="Announcement actions">
            <button
                *ngIf="loggedInUserRole == 'admin'"
                type="button"
                class="btn btn-secondary btn-sm"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
            >
                <i class="fas fa-pencil-alt"></i> Edit
            </button>

            <button
                *ngIf="!removingSpinner && loggedInUserRole == 'admin'"
                type="button"
                class="btn btn-danger btn-sm"
                (click)="removeAnnouncement()"
            >
                <i class="fas fa-trash-alt"></i> Remove
            </button>
            <button *ngIf="removingSpinner" type="button" class="btn btn-danger btn-sm" disabled>
                <i class="spinner-border spinner-border-sm"></i> Removing...
            </button>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">{{ announcemet.body }}</p>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Edit Announcement</h3>
                <!-- close button -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Body -->
            <form [formGroup]="editAnnouncementForm" (ngSubmit)="(editAnnouncement)" class="border p-2 rounded-3">
                <br />
                <mat-form-field appearance="fill" style="width: 100%">
                    <mat-label>Body</mat-label>
                    <textarea matInput cdkTextareaAutosize formControlName="body" placeholder="body"> </textarea>
                </mat-form-field>
                <hr />
                <!-- Submit Form -->
                <button
                    class="btn btn-primary"
                    type="submit"
                    [disabled]="editAnnouncementForm.invalid"
                    (click)="editAnnouncement()"
                >
                    Edit Announcement
                </button>
            </form>
        </div>
    </div>
</div>
