<div class="card m-2 shadow account-card">
  <div class="container">
    <!-- Info -->
    <p id="name">{{user.firstName}} {{user.lastName}}</p>
    <p>ID: {{user.studentId}}</p>
    <p>{{user.email}}</p>

    <!-- Edit roles -->
    <form #myform="ngForm" (change)="changeRole()">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="role" id="admin" value="admin" [(ngModel)]="user.role">
        <label class="form-check-label" for="admin">
          Admin
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="role" id="editor" value="editor" [(ngModel)]="user.role">
        <label class="form-check-label" for="editor">
          Editor
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="role" id="student" value="student" [(ngModel)]="user.role">
        <label class="form-check-label" for="student">
          Student
        </label>
      </div>
    </form>
    <div *ngIf="isChangingRole">
      <span>Changing role to {{user.role}}</span>
      <span class="spinner-border spinner-border-sm"  style="margin-left: 5px" > </span>
    </div>


    <div>
      <button *ngIf="!isRemoving" class="btn btn-danger m-1" (click)="removeUser()">Remove</button>
      <button *ngIf="isRemoving" class="btn btn-danger m-1" type="button" disabled>
        <span  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Removing...
      </button>
    </div>

  </div>
</div>
