<div class="row p-3 border-bottom">
    <div class="col-10">
        <div class="h3">Course name</div>
        <div class="text-secondary mb-1">Course Code</div>
        <a href="">Telegram Link</a>
    </div>
    <div class="vstack gap-2" style="width: fit-content;">
        <button class="btn btn-outline-primary">Add Category</button>
        <button class="btn btn-outline-primary">Add Material</button>
    </div>
</div>

<div class="row p-3 gap-2">
    <div class="col-3 p-3 materia-categorty">Lectures</div>
    <div class="col-3 p-3 materia-categorty">Sheets</div>
    <div class="col-3 p-3 materia-categorty">Labs</div>
    <div class="col-3 p-3 materia-categorty">Sessions</div>
    <div class="col-3 p-3 materia-categorty">References</div>
  </div>

<div class="p-3" style="position: fixed; bottom: 0; width: 100%;">
    <div class="border-top p-2">
        Instructor office hours: Monday through Thursday, 5-6:30pm PT, online.
    </div>
    <ul class="nav border-top">
        <li class="nav-item"><a href="#" class="nav-link px-2">Announcements</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">Tasks</a></li>
    </ul>
</div>