<div *ngFor="let course of registeredCourses" class="container p-3 m-2 shadow-sm" style="background-color: #f7f8fa">
    <div class="row">
        <div class="col-8 h4 course_title" (click)="openCoursePage(course.id)">{{ course.name }}</div>
        <i
            *ngIf="!course.revisionSubscription"
            class="col-1 bi bi-book-fill icon"
            (click)="toggleRVSubscription(course)"
        ></i>
        <i *ngIf="course.revisionSubscription" class="col-1 bi bi-book icon" (click)="toggleRVSubscription(course)"></i>
        <i class="col-1 bi bi-bell-fill icon"></i>
        <i class="col-1 bi bi-bell-slash-fill icon"></i>
        <i class="col-1 bi bi-box-arrow-left icon" (click)="unRegisterCourse(course.id)"></i>
    </div>
</div>
