<div class="all-courses p-4">
  <div class="header text-center">All Courses</div>

  <!-- Search bar -->
  <div class="search-bar">
      <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          <button class="input-group-text btn btn-primary" (click)="dropDownFilters()" type="button" >
              <i class="bi bi-filter"></i>
          </button>
          <ul class="dropdown-menu" [class.show]="showFilters">
              <li><button class="btn btn-light" type="button" (click)="itemCheck($event)">Check me 1</button></li>
              <li><button class="btn btn-light" type="button" (click)="itemCheck($event)">Check me 2</button></li>
              <li><button class="btn btn-light" type="button" (click)="itemCheck($event)">Check me 3</button></li>
              <li><button class="btn btn-light" type="button" (click)="itemCheck($event)">Check me 4</button></li>
            </ul>
      </div>

      <div class="search-result">
          <p class="alert alert-primary" *ngFor="let item of checkedItems">
              {{item}}
          </p>
      </div>
  </div>

  <!-- Terms -->
  <div class="terms">
      <div class="term my-3">
          <div class="collapse-btn">
              <button class="btn btn-outline-primary" (click)="reverse($event)" type="button" data-bs-toggle="collapse" data-bs-target="#term1" aria-expanded="false" aria-controls="collapseExample">
                  <span>Term 1</span>
                  <i class="bi bi-caret-down-fill"></i>
              </button>
          </div>

          <div class="collapse" id="term1">
              <div class="card card-body courses-holder container">
                  <div class="row">
                      <div class="col-md">
                          <div class="card card-body course">A course will be here</div>
                      </div>
                      <div class="col-md">
                          <div class="card card-body course">A course will be here</div>
                      </div>
                      <div class="col-md">
                          <div class="card card-body course">A course will be here</div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
      <div class="term my-3">
          <div class="collapse-btn">
              <button class="btn btn-outline-primary" (click)="reverse($event)" type="button" data-bs-toggle="collapse" data-bs-target="#term2" aria-expanded="false" aria-controls="collapseExample">
                  <span>Term 1</span>
                  <i class="bi bi-caret-down-fill"></i>
              </button>
          </div>

          <div class="collapse" id="term2">
              <div class="card card-body courses-holder container">
                  <div class="row">
                      <div class="col-md">
                          <div class="card card-body course">A course will be here</div>
                      </div>
                      <div class="col-md">
                          <div class="card card-body course">A course will be here</div>
                      </div>
                      <div class="col-md">
                          <div class="card card-body course">A course will be here</div>
                      </div>
                  </div>

              </div>
          </div>
      </div>

      <div class="term my-3">
          <div class="collapse-btn">
              <button class="btn btn-outline-primary" (click)="reverse($event)" type="button" data-bs-toggle="collapse" data-bs-target="#term3" aria-expanded="false" aria-controls="collapseExample">
                  <span>Term 1</span>
                  <i class="bi bi-caret-down-fill"></i>
              </button>
          </div>

          <div class="collapse" id="term3">
              <div class="card card-body courses-holder container">
                  <div class="row">
                      <div class="col-md">
                          <div class="card card-body course">A course will be here</div>
                      </div>
                      <div class="col-md">
                          <div class="card card-body course">A course will be here</div>
                      </div>
                      <div class="col-md">
                          <div class="card card-body course">A course will be here</div>
                      </div>
                  </div>

              </div>
          </div>
      </div>

</div>
